In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sn
from datetime import date

Loading data from CSV into Pandas DataFrame

In [2]:
customers = pd.read_csv('data/customers.csv')
events = pd.read_csv('data/events.csv')
offers = pd.read_csv('data/offers.csv')

Checking customer table content

In [49]:
print(customers.shape)
print(customers.info())
print(customers.head())
print(customers.tail())

(14825, 5)
<class 'pandas.core.frame.DataFrame'>
Index: 14825 entries, 1 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       14825 non-null  object
 1   became_member_on  14825 non-null  object
 2   gender            14825 non-null  object
 3   age               14825 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 694.9+ KB
None
                         customer_id became_member_on gender  age    income
1   0610b486422d4921ae7d2bf64640c50b       2017----15      F   55  112000.0
3   78afa995795e4d85b5d9ceeca43f5fef       2017----09      F   75  100000.0
5   e2127556f4f64592b11af22de27a7932       2018----26      M   68   70000.0
8   389bc3fa690240e798340f5a15918d5c       2018----09      M   65   53000.0
12  2eeac8d8feae4a8cad5a6af0499a211d       2017----11      M   58   51000.0
                            customer_id became_member_on gender  age   income
16995  6d5f3a774f3d4714ab0c092238f3a1d7       2018----04      F   45  54000.0
16996  2cb4f97358b841b9a9773a7aa05a9d77       2018----13      M   61  72000.0
16997  01d26f638c274aa0b965d24cefe3183f       2017----26      M   49  73000.0
16998  9dc1421481194dcd9400aec7c9ae6366       2016----07      F   83  50000.0
16999  e4052622e5ba45a8b96b59aba68cf068       2017----22      F   62  82000.0

Removing any duplicates and null values in the customers table

In [28]:
customers = customers.drop_duplicates()
customers = customers.dropna()

Changing datatype of the column 'became_member_on' to string datatype

In [29]:
customers['became_member_on'] = customers['became_member_on'].astype(str)

Splitting the column 'became_member_on' to get the year, month, day, and concatenating to convert into proper Date format

In [30]:
customers['became_member_on'] = customers['became_member_on'].str[:4] + '-' + customers['became_member_on'].str[4:6] + '-' + customers['became_member_on'].str[-2:]

Analyzing the customers table content further

In [50]:
print(customers.describe())

                age         income
count  14825.000000   14825.000000
mean      54.393524   65404.991568
std       17.383705   21598.299410
min       18.000000   30000.000000
25%       42.000000   49000.000000
50%       55.000000   64000.000000
75%       66.000000   80000.000000
max      101.000000  120000.000000

In [31]:
print(events.shape)
print(events.info())
print(events.head())
print(events.tail())

(306534, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  306534 non-null  object
 1   event        306534 non-null  object
 2   value        306534 non-null  object
 3   time         306534 non-null  int64
dtypes: int64(1), object(3)
memory usage: 9.4+ MB
None
                        customer_id           event  \
0  78afa995795e4d85b5d9ceeca43f5fef  offer received
1  a03223e636434f42ac4c3df47e8bac43  offer received
2  e2127556f4f64592b11af22de27a7932  offer received
3  8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4  68617ca6246f4fbc85e91a2a49552598  offer received

                                              value  time
0  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0
                             customer_id        event  \
306529  b3a1272bc9904337b331bf348c3e8c17  transaction
306530  68213b08d99a4ae1b0dcb72aebd9aa35  transaction
306531  a00058cf10334a308c68e7631c529907  transaction
306532  76ddbd6576844afe811f1a3c0fbb5bec  transaction
306533  c02b10e8752c4d8e9b73f918558531f7  transaction

                                 value  time
306529  {'amount': 1.5899999999999999}   714
306530                {'amount': 9.53}   714
306531                {'amount': 3.61}   714
306532  {'amount': 3.5300000000000002}   714
306533                {'amount': 4.05}   714